@import "../../../styles/variables.scss";

:host {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .error-number {
        font-size: 96px;
    }

    .error-message {
        margin-bottom: 24px;
        font-size: 48px;
    }

    .back-button {
        margin: 0 auto;
        font-size: 16px;
        color: $blue;

        &:hover {
            text-decoration: underline;
        }
    }
}
