@import "./app/styles/variables.scss";

body {
  margin: 0;
  font-family: $Poppins;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  display: block;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

input[type="checkbox"] {
  margin: 0;
  appearance: none;
  cursor: pointer;

  &:checked {
    background-image: url("./assets/icons/check.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
  }
}
